client.json
server.json
client.toml
server.toml
v2ray_simple
v2ray_simple_*
cmd/verysimple/verysimple
cmd/verysimple/*.toml
verysimple_*
*.exe
*.DS_Store
*.mmdb
*.tgz
geosite
vs_log*
cert.pem
cert.key
ca.key
ca.crt
BUILD_VERSION
client.crt
client.csr
client.key
fakeclient.crt
fakeclient.csr
fakeclient.key
fakeca.key
fakeca.crt
.vscode
.verysimple_preferences