name: Build For Release

on:
  workflow_dispatch:
  release:
    types: [published]


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Get version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    
    - name: Build
      run: |
        make -f Makefile_release PACK=1 BUILD_VERSION=${{ steps.get_version.outputs.VERSION }}
    
    - name: touch xz archive
      shell: bash
      run: |
        touch -mt $(date +%Y01010000) *.tar.xz
    
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      if: github.event_name == 'release'
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./*.tar.xz
        tag: ${{ github.ref }}
        file_glob: true
