name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: |
        make PACK=1
        mkdir dist
        mv *.tgz dist

    - name: Test
      run: go test -v ./...
    
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: arts
        path: dist
  
